<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
		<EncryptedData>
			<CipherData>
				<CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAATXs5dFgTWUm6b/9b++BQ/wQAAAACAAAAAAAQZgAAAAEAACAAAADgMy97mrDb879JZFCggWxUk4rTIsXqBJxRjE4Z43tQJQAAAAAOgAAAAAIAACAAAADaJLxrkfkPUhIL+r7NW1VIWPvDzml0eYEPaD4O1p2pfPABAAD2gByX6bddIpvCbhgTX5avHLMCWMdFQQcewAu64BR+6D7U0NR/Hty5uUjrAyZT4BK03Wyl3X7vodEJlWya/Z0gcUacNvt+3sopz/xozmoJ0cBxb7ZSdRGDaFgg0X2MM06a3thwpxmwDMAXuWXnpZq8zo85Zyns7x4vA10effeWb3S7Wdnql/unLp1Gx8MfYYHAJnGbGG9RBM0HSDJldijSkN9GQK98lj4CfmnzEUuX6AoDEDBQ2rr9SbkW/WVfhjRoCZrieMU+7+iO8afBDeqvEh+OiTbh3w1wdOFWy5TQIkO94mkUwQnFOFTEdUoKrUxD7f7TSjZlHvwylZcVxE9zgSVOqPs197/nJ1iDT0VOJbM6autFiQxa+1bqxb18sqMfPPs5gj6GbbfmoAhpZQhOrb0mi/fG1lEOHNoxDCrgnoqySGcwoGRnxs08x4vAaLd5sSmkK0ZR+rLOrcm5lNN306qN/zdzyPz21hhSFdeVEI3ijPNYzmqwNwl+hwXlBzoIPaLc9M3EJPqMamPfNxEJonQKgtp6H+QT4ZyXd6+ZMmNptJBudJ8a91YvMEaJMpJYZnN+H93oVXPdsnWm//QivSGyfVXoNODT1gITRZcQkkw6WAMqXowY8xhsc3M25bJjNtHUCMWjfADfExrsD9qyQAAAAI5KWtlU4YKyNVFwd2orOi0t7SCLoxoxxXKhPh3fqp8o1YahF9vNpIvgSqaKkwueicREkRPxrLnVevy8uSZP+Mk=</CipherValue>
			</CipherData>
		</EncryptedData>
	</connectionStrings>
</configuration>


