<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<clear />
		<add name="assignmentdbConnectionString"
		 providerName="System.Data.MySqlClient"
		 connectionString="server=localhost;user id = root;pwd=1234567;database=assignmentdb;sslmode=Disabled" />
	</connectionStrings>
</configuration>


